body {
  padding: 0;
  margin: 0;
}

header {
  height: 6rem;
  background-color: black;
  display: flex;
}

.cardWrap {
  background-color: white;
  transition: ease-in .4s;
}

.cardInside {
  min-height: 30rem;
  margin: 2rem 2rem 0rem 2rem;
  display: flex;
  background-color: green;
  border-radius:5px 5px 0px 0px;
}

.cardImgWrap {
  width: 100%;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.opBar {
  background-color: blue;
  height: 5rem;
  margin: 0rem 2rem;
  border-radius: 0px 0px 5px 5px;
}

.full {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.cardImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 90px;
  height: 15rem;
  width: 15rem;
}

.actorName {
  text-align: center;
}

.info {
  margin: 1rem;
}


.navigation{
  background-color: #8B4C39;
}
.appName{
  display:inline-block;
  width:30%;

}
.goHome{
  display:inline-block;
  text-align: right;
  width:68%;

}
.navigation a{
  color: black;
}
.navigation a:hover{
  text-decoration: none;
  color: white;
}
