.navigation{
  font-family: 'Skranji', cursive;
  border-radius: 2%;
  padding: 1%;
}
.appName{
  display:inline-block;
  width:30%;

}
.goHome{
  display:inline-block;
  text-align: right;
  width:68%;
}
.goHome h4{
    font-size: 2em;
}
.navigation a{
  color: black;
}
.navigation a:hover{
  text-decoration: none;
  color: white;
}
.navigation h3{
  display: inline-block;
  margin-right: 2%;
  font-size: 3em;
}
