<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-4 cardWrap" ng-repeat="actor in actors">
    <div class="card">
    <div class="cardInside">
      <div class="cardImgWrap">
        <div class="full" ng-click=viewActor(actor.name)>
          <img class="cardImg" ng-src="{{actor.headshot_url}}" alt="" />
          <h2 class="actorName">{{actor.name}}</h2>
       </div>
     </div>
   </div>
   <div class="opBar">
     <i class="fa fa-film film" ng-click=viewActor(actor.name)></i>
   </div>
 </div>
</div>
</div>
