<div class="row">
  <div class="col-xs-12 col-md-4 cardWrap" ng-repeat="actor in actors">
    <div class="cardInside">
      <div class="cardImgWrap">
        <div ng-click="isCollapsed = !isCollapsed" class="full">
          <img class="cardImg" src="http://www.placecage.com/200/200" alt="" />
          <h2 class="actorName">{{actor.name}}</h2>
       </div>
	      <div collapse="!isCollapsed">
		      <div class="well well-lg info">
            <h4>Born:</h4>
            {{actor.birthday}}
		        <h4>Bio:</h4>
            {{actor.bio}}
		     </div>
	     </div>
     </div>
   </div>
 </div>
</div>
