<div>
  <md-content class="md-padding">
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="Bad Movie">
        <md-content class="md-padding">
          <div class="col-md-3">
              <h4>{{actor.name}}</h4>
              <img class="img-responsive img-thumbnail" ng-src={{movie.poster}} err-src="{{actor.headshot_url}}" alt=""/>
          </div>
          <div class="col-md-9">
            <h4>{{movie.show_title}} <small>{{movie.release_year}}</small></h4>
            <h5>{{movie.category}}</h5>
            <h4><span class="wow rotateIn glyphicon glyphicon-star" aria-hidden="true"></span>{{movie.rating}}</h4>
            <ul class="list-group">
              <li class="list-group-item">
                {{movie.summary}}
              </li>
            </ul>
            <a href="" ng-click="newMovie()"><md-button class="md-raised md-primary netflix">Another Bad Movie</md-button></a>
            <a href="http://www.netflix.com/watch/{{movie.show_id}}" target="_blank"><md-button class="md-raised md-primary netflix">Watch Movie on Netflix</md-button></a>
          </div>
        </md-content>
      </md-tab>
      <md-tab label="Bad Bio">
        <md-content class="md-padding">
          <h2 class="md-display-2">{{actor.name}}</h2>
          <h4><small>Born {{actor.birthday}}</small></h4>
          <p>{{actor.bio}}</p>
        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
</div>
